* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
main {
  background-color: #000fff;
  height: 98vh;
}
.main-heading {
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.main-description {
  color: #00ff00;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.secondary-heading {
  color: #ff00ff;
  font-size: 40px;
  font-style: initial;
  text-decoration: underline;
}

.players-namelist {
  text-align: calc();
  padding: 30px;
}
.player-name {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

#player-Aarif {
  color: #ffffff;
}

#player-Gulsan {
  color: #ffff00;
}
