body {
  background-color: #cc3399;
}
.bipin {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
}
