* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  background-color: #00008b;
  height: auto;
}

.main-heading {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  color: #ff0000;
}

.main-description {
  font-size: 25px;
  color: #ffffff;
  font-style: italic;
  text-align: justify;
  padding: 10px;
}

.secondary-heading {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  color: #ffff00;
  padding: 20px;
}

.players-namelist {
  font-size: 30px;
  color: #ff0000;
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 700;
}

.tertiary-heading {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}
.players {
  padding-left: 30px;
  list-style: none;
}
.player-link {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}
.player-link:hover {
  text-decoration: underline;
  color: black;
  background-color: white;
  text-align: center;
}
.player-images {
  text-align: center;
}
.player-image {
  border: 10px dashed black;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  opacity: 50%;
}
